__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.swo
.ipynb_checkpoints/
.env/
.venv/
venv/
.idea/
.vscode/
results/csv/*.tmp
results/models/*.tmp
1_submission.zip
results/models/
results/csv/
logs/
results/summary_results.csv
results/